.btt {
    background-color: #d16015;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.inp {
    padding: 0;
    height: 25px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #4e0707;
    border-color: rgba(22, 7, 77, 0.15);
    background-color: white;
    font-size: 16px;
}
.btt:hover{

  color: rgb(202, 15, 140);

}